header{
	width: 960px;
	height: 90px;
	color: #ebebeb;
	background: #777;
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}

nav{
	width: 960px;
	height: 90px;
	color: #ebebeb;
	background: #777;
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}

section{
	width: 495px;
	height: 350px;
	color: #ebebeb;
	background: #777;
	padding-top: : 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial;
	font-size: 18px;
}

article{
	width: 475px;
	height: 260px;
	color: #ebebeb;
	background: #777;
	padding-top: 20px;
	font-family: Arial;
	font-size: 18px;
}

.headers{
	width: 455px;
	height: 60px;
	color: #ebebeb;
	background: #777;
	padding: 10px;
	font-family: Arial;
	font-size: 18px;
}

p{
	width: 455px;
	height: 60px;
	color: #ebebeb;
	background: #777;
	padding: 10px;
	font-family: Arial;
	font-size: 18px;
}

aside{

}